.wrapper {
  max-width: $content-width;

  @extend %center-margins;

  @include horizontal-padding;
  @include vertical-spacing;
}

.vertical-buffer {
  @include vertical-spacing(1);
}

.site-header, .page-header, .page-footer {
  > .wrapper {
    text-align: center;
  }
}

.site-footer {
  max-width: $content-width;

  @extend %center-margins;

  @include vertical-spacing(1);
}

.site-title {
  text-decoration: none;

  @extend %heading-1;
}

.small-title {
  @extend %heading-6;
}

.site-divider {
  background-color: $dark-base-color;
  border-radius: 0.1em;

  width: 10em;
  height: 0.125em;

  @extend %center-margins;
}

.page-content {
  @include vertical-spacing(1);
}

.posts {
  list-style: none;
  text-align: center;

  > li {
    @include vertical-spacing(2);
  }
}

.post-link {
  @extend %heading-5;
}

.post-date {
  display: block;

  color: $faded-color;
}

.archive {
  text-align: center;

  @include vertical-spacing(8);

  > a {
    @extend %heading-6;
  }
}

.archive-nav {
  display: flex;
  flex-flow: nowrap;
  align-items: center;
  justify-content: center;

  @extend %heading-1;

  > div {
    min-width: 33%;
  }

  > .archive-nav-left {
    text-align: right;
    padding: 0 0.5em;
  }

  > .archive-nav-right {
    text-align: left;
    padding: 0 0.5em;
  }
}

.archive-nav-link {
  text-decoration: none;
}

.social-list {
  list-style: none;

  margin: 0;
  padding: 0;

  > li {
    @include vertical-spacing(8);
  }
}

.social-link {
  display: inline-block;
  text-decoration: none;

  @include horizontal-padding(4);
}

.social-svg > svg {
  display: inline-block;
  vertical-align: middle;

  width: 1em;
  height: 1em;
}

.social-text {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
}

.footer-column-wrapper {
  display: table;
  width: 100%;

  @include vertical-spacing(1);
}

.footer-column {
  display: table-cell;
  width: 50%;

  @include horizontal-padding(2);
}

.footer-site-description {
  text-indent: inherit;

  > p {
    text-indent: inherit;
  }
}

.footer-social-column {
  width: 35%;
}

@include media-query($small-screen) {
  .footer-column, .footer-social-column {
    display: block;
    width: auto;

    &:not(:first-child) {
      @include vertical-spacing(1);
    }
  }

  .social-link {
    display: block;
    padding: 0.25em;

    @include vertical-spacing;
  }
}
