body {
  font: $font-weight #{$font-size}/#{$line-height} $font-family;
  font-kerning: normal;

  @include color-scheme(color, text-color);
  @include color-scheme(background-color, background-color);
}

a {
  padding: 0.125em;
  text-decoration: underline;

  @include color-scheme(color, text-color);

  &:hover {
    border-radius: 0.125em;

    @include color-scheme(color, background-color);
    @include color-scheme(background-color, text-color);
  }
}

@for $index from 1 through 6 {
  h#{$index} {
    @extend %heading-#{$index};
  }
}

p, ol, ul, dl {
  @include vertical-spacing(2);
}

blockquote {
  border-radius: 0.375em;

  @include color-scheme(color, faded-color);
  @include color-scheme(border-left, text-color, 0.25em solid);
  @include horizontal-padding(2);
  @include horizontal-spacing(2);

  > p {
    text-indent: 0;
  }
}

ul, ol, dl {
  @include horizontal-padding(0.8);
}

div > pre {
  @include color-scheme(color, text-color);
  @include color-scheme(background-color, highlight-color);
  @extend %code-block;

  > code > * > a {
    display: none;
  }
}

*:not([class]) > code {
  padding: 0.15em 0.25em;

  @include color-scheme(background-color, highlight-color);
  @extend %code-blurb;
}

@include media-query($small-screen) {
  div > pre {
    margin: 0 !important;
  }
}
