@mixin media-query($size) {
  @media screen and (max-width: $size) {
    @content
  }
}

@mixin color-scheme($property, $name, $args: '') {
  #{$property}: #{$args} map-get(map-get($schemes, default), $name);

  @media (prefers-color-scheme: dark) {
    #{$property}: #{$args} map-get(map-get($schemes, dark), $name);
  }
}

@mixin horizontal-padding($divisor: 1) {
  padding-left: $spacing-unit / $divisor;
  padding-right: $spacing-unit / $divisor;
}

@mixin horizontal-spacing($divisor: 4) {
  margin-left: $spacing-unit / $divisor;
  margin-right: $spacing-unit / $divisor;
}

@mixin vertical-spacing($divisor: 4) {
  margin-top: $spacing-unit / $divisor;
  margin-bottom: $spacing-unit / $divisor;
}
